body {
	font-family: Verdana, Geneva, sans-serif;
	box-sizing: border-box;
}

.containers {
	margin-left: 20px;
	margin-right: 20px;
}

.jumbotron {
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo {
	width: 250px;
	height: auto;
}

.headline{
	font-weight: bold;
}

h1, h2 {
	font-family: 'Alegreya', serif;
}

h3 {
	margin-top: 1px;
    margin-bottom: 1px;
}

h4 {
	font-weight: bold;
	text-decoration: underline;
}

.panel-heading {
	padding: 5px 15px 5px;
}

.panel {
/*	border: 5px solid #d4111b;*/
	margin-right: 20px;
	margin-left: 10px;
}

.input {
	font-size: 18px;
}

#headshot {
	background-color: #eeeeee;
	width: 200px;
	height: auto;
	border-radius: 50%;
	background:repeating-radial-gradient(#eeeeee, #eeeeee 5px, white 5px, white 10px);
	border: 5px solid #eeeeee;
	margin-left: 10px;
}

#mapBox {
      height: 400px;
      width: 100%;
      display: inline-block;

      border: 1px solid #eeeeee;
    } 

    #map {
      height: 100%;
    }

.players:hover {
	background-color: yellow;
}

.form-group {
	padding: 0 20px 10px 20px;
	font-size: 18px;
}

.panel-title {
	font-size: 30px;
}

#header {
	font-size: 80px;
	 color: #333;
}

@media screen and (max-width: 940px) {

#header {
	font-size: 70px;
}

}

@media screen and (max-width: 768px) {

#header {
	font-size: 40px;
}

#headshot {
	width: 300px;
	height: auto;
}

}

@media screen and (max-width: 640px) {

	#header {
	font-size: 42px;
}
}